<form class="text-white fw-bold p-4">

    <div class="row">
        <div class="col-12">
            <h2>RESERVA YA</h2>
            <h2>Desde 359.999$ </h2>
        </div>
    </div>

    <hr>
    
    <div class="row">
        <div class="col-12 col-md-6">
            <label class="form-label">Fecha Entrada:</label>
            <div class="input-group mb-3">
                <span class="input-group-text">
                    <i class="bi bi-calendar-check"></i>
                </span>
               
                <input type="date" class="form-control" placeholder="Entrada">
              </div>
        </div>      
        <div class="col-12 col-md-6">
            <label class="form-label">Fecha Salida:</label>
            <div class="input-group mb-3">
                <span class="input-group-text">
                <i class="bi bi-calendar-check"></i>
            </span>
            <input type="date" class="form-control" placeholder="Salida">
         </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <label class="form-label">Persona:</label>
            <div class="input-group mb-3">
                <span class="input-group-text">
                <i class="bi bi-people-fill"></i>
            </span>
            <select class="form-select">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>

              </select>
         </div>
        </div>

        <div class="col-12 col-md-6">
            <label class="form-label">Niños:</label>
            <div class="input-group mb-3">

                <span class="input-group-text">
                <i class="bi bi-people-fill"></i>
            </span>
            <select class="form-select">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>

              </select>
         </div>
        </div>
    </div>
    <button type="submit" class="btn btn-outline-info w-100">Ver Disponibilidad</button>
</form>