<section>
    <footer class="container">
        <div class="container-fluid p-5 bg-light">
    
        <p class="float-end"><a href="#">Volver al inicio</a></p>
        <p>Guillermo Souto  · <a href="https://www.instagram.com/guillesouto20/?hl=es-la">@guillesouto20</a> · <a></a></p>
    
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11098.530628699804!2d-75.55254655651306!3d10.427674358700962!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef62f99208a15a3%3A0x3187872c9d2602d2!2sSofitel%20Legend%20Santa%20Clara%20Cartagena!5e0!3m2!1ses-419!2sco!4v1668174673863!5m2!1ses-419!2sco" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
        </div>
    </footer>
</section>

